.formulario{
    margin-top: 6%;
    text-align: center;
}
p{
    text-align: center;
    font-size: xx-large;
}
input{
    width: 400px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
.check{
    margin-top: 1%;
    text-align: center;
    
   

}
#c{
    background-color: #B10F2E;
    margin: auto;
    width: 200px;
    height: 20px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
label{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a,p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boton{
    border: none;
    background: #B10F2E;
    border-radius: 5px;
    height: 35px;
    color: white;
    font-size: 16px;
}
