* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .login{
    padding:12px 20px;
    gap: 100px;
    margin-top: 5%;
  }
  
  .form input {
    font-size:14px;
    margin: 10px;
    width: 300px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
  img{
    height: 190px;
  
    
  }
  .boton{
    border-radius: 4px;
    border: none;
    padding: 8px;
    background-color: #B10F2E;
    height: 20px;
    color:aliceblue;
  }

main {
  display: flex;
}

main aside {
  display: flex;
  background-color:#be123c;
  position:absolute;
  z-index:1;
  overflow:auto;
  gap: 10px;
  width: 12.5%;
  height: 100vh;
  padding: 10px;
  flex-direction: column;
  float: left;
}

main aside a {
  color: white;
  background: #881337;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 17.5px;
  font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  border-radius: 3px; 
  
}

main aside a:hover {
  background: #790422;
  color: #fff !important;
}

main .container .video{
  align-items: left;
  display:flex;
  flex-direction: column;
  padding: 30px;
}
main .container .video iframe{
  height: 400px;
  width: 1000px;
}

main .container2 .card {
  display: flex;
  gap: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 20px;
}
main .container2 .card img {
  min-width: 250px;
  min-height: 141px;
  height: auto;
  background: #999;
}
main .container2 .card .text {
  padding: 5px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
